html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
}
body {
  background: url("./img/chicas.jpg") no-repeat center fixed;
  background-size: cover;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../font/bebasneue/BebasNeue-webfont.eot");
  src: url("../font/bebasneue/BebasNeue-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../font/bebasneue/BebasNeue-webfont.woff") format("woff"),
    url("../font/bebasneue/BebasNeue-webfont.ttf") format("truetype"),
    url("../font/bebasneue/BebasNeue-webfont.svg#BebasNeueRegular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

#corpoChicas {
  position: relative;
  z-index: 100;
  float: left;
  width: 1000px;
  height: 800px;
  background: url("./img/vincita.png") no-repeat 70px 140px;
}
#corpoChicasPlasma {
  position: absolute;
  z-index: 10;
  width: 1000px;
  height: 100%;
  background: #000000;
  opacity: 0.4;
}

#corpoChicas h1 {
  position: relative;
  z-index: 100;
  float: left;
  width: 500px;
  height: auto;
  margin: 40px 0px 0px 20px;
  font-family: "BebasNeueRegular";
  font-size: 40px;
  text-align: left;
  color: #ffffff;
}
#corpoChicas img {
  position: relative;
  z-index: 100;
  float: left;
  margin: 40px 0px 0px 30px;
  border-radius: 10px;
}
#corpoChicas input[type="text"] {
  position: relative;
  z-index: 100;
  float: left;
  width: 90px;
  height: 60px;
  margin: -70px 0px 0px 380px;
  font-family: "BebasNeueRegular";
  font-size: 58px;
  text-align: center;
  border: none;
  border-radius: 3px;
}
#corpoChicas input[type="submit"] {
  position: relative;
  z-index: 100;
  float: left;
  width: 280px;
  height: 60px;
  margin: -70px 0px 0px 80px;
  font-family: "BebasNeueRegular";
  font-size: 56px;
  text-align: center;
  border: none;
  border-radius: 3px;
}
